<ActionBar title="Grid Layout - Activity 3" class="action-bar"></ActionBar>
<GridLayout columns="50, *, *, 50" rows="50, *, *, 50"  backgroundColor="lightgray" >

    <Label text="Label 1" row="0" col="0" backgroundColor="blue" colSpan="3"></Label>
    <Label text="Label 2" row="0" col="3" rowSpan="4" backgroundColor="green"></Label>
    <Label text="Label 3" row="1" col="0"  backgroundColor="yellow"></Label>
    <Label text="Label 4" row="2" col="0"  backgroundColor="red"></Label>
    <GridLayout backgroundColor="purple" row="1" col="1" rowSpan="2" colSpan="2">
        <Label text="Label 5" verticalAlignment="center" textAlignment="center"></Label>
    </GridLayout>
    <Label text="Label 6" row="3" col="0"  backgroundColor="pink"></Label>
    <Label text="Label 7" row="3" col="1"  backgroundColor="blue"></Label>
    <Label text="Label 8" row="3" col="2"  backgroundColor="yellow"></Label>
    
</GridLayout>